.about-us {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: 'Browser Serif';
}

.about-us__heading {
    margin: 0 auto 2.5rem;
    padding-top: 2.5rem;
    font-size: 4.2rem;
    color: #f7efa8;
}

.about-us__members {
    margin-bottom: 7rem;
}

.about-us__pors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 25%;
    margin-bottom: 3rem;
    font-size: 1.05rem;
}

.about-us__leads {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 17%;
}

.about-us__member__name {
    margin: 0;
}

.about-us__member__position {
    margin: 0;
    color: #f7efa8;
}

.about-us__member__photo {
    margin-bottom: 0.25rem;
    width: 53%;
    border-radius: 50%;
}

.about-us__team__heading {
    margin: 0 auto 2.5rem;
    font-size: 3.2rem;
}

.about-us__team-photo {
    margin-bottom: 2.5rem;
    max-width: 45%;
    border-radius: 6%;
}

.about-us__team-text {
    margin: 0 auto;
    padding: 0 20% 3.5rem;
}