.blog-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* Set margin and padding to 0 for the body */
body {
    margin: 0;
    padding: 0;
}

/* Style for header of blog post */
.blog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-bottom: 0px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin-bottom: 30px;
}

/* Style for cover image div */
.cover-image-div {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
}

/* Style for cover image */
.cover-image {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Style for posted date div */
.posted-on-div {
    font-size: 16px;
    color: #cecece;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Style for title div */
.title-div {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Style for title */
h1 {
    margin: 0;
    font-size: x-large;
}

/* Style for content div */
.content-div {
    padding: 50px;
    padding-top: 0px;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Style for paragraph div */
.paragraph-div {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Style for image div */
.image-div {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Style for image inside figure tag */
img {
    width: 100%;
    height: auto;
}

.fig-id {
    text-decoration: underline;
}

.size-medium {
    width: 50%;
    height: auto;
}

/* Style for figure caption */
figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #cecece;
    text-align: center;
    width: 100%;
}

.image-explanation p {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.image.alignleft,
.image.alignright {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

.image.alignleft {
    flex-direction: row;
}

.image.alignright {
    flex-direction: row-reverse;
}

/* Style for alignleft image */
.image.alignleft .image-content {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Style for image explanation */
.image.alignleft .image-explanation {
    width: 40%;
    float: right;
}

/* Style for alignright image */
.image.alignright .image-content {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Style for image explanation */
.image.alignright .image-explanation {
    width: 40%;
    float: left;
}

/* Style for aligncenter image */
.image.aligncenter .image-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* Style for aligncenter figcaption */
.image.aligncenter figcaption {
    width: 100%;
    text-align: center;
}

.navbar {
    color: aliceblue;
}

.blog-navigate {
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* .dummy{
    display: flex;
    justify-content: space-between;
} */
.blog-heading {
    color: wheat;
    margin: 20px;
}

.blog_h1 {
    font-size: 30px;
}

.blog-prev {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.blog-next {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.blog-card {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);

}