html,
body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* body {
      background-image: url(backgroundc.jpg);
      background-size: auto;
      height: 100%;
      width:100%;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  } */
.navbarr {
    background-color: rgb(0, 0, 0);


}

.navbar img {
    margin-right: 20px;
    height: 3em;
    border-radius: 10%
}

.navbar {
    opacity: 1;

}

.navbar a {
    outline: none;
    text-decoration: none;
    padding: 2px 2px;
    text-align: center;
}

.navbar a:link {
    color: rgb(143, 28, 28);
}

.navbar a:visited {
    color: rgba(0, 0, 0, 0.342);
}

.navbar a:hover {
    border-bottom: 1.5px solid;
}

.navbar a:active {
    color: rgb(255, 0, 0);
}

.carousel {
    width: 100%;
    margin: 2em auto;
}

.carousel button {
    border: 0px;
    opacity: 1;
}






.first {
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 8vw;
    width: 80%;
    border: 3px solid #000000;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 15px 10px rgb(175, 154, 23);
    line-height: 2;

}

.first img {
    width: 70%;
    border-radius: 10%;
    animation: fadeIn 6s;
    -webkit-animation: fadeIn 6s;
    /*for different browsers*/
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
}

.first .text {
    animation: fadeIn 6s;
    -webkit-animation: fadeIn 6s;
    /*for different browsers*/
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
}

.text {
    word-wrap: break-word;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.first .col-7 {
    font-style: italic;
}

.second {
    overflow: hidden;
    margin-top: 8vw;
    margin-bottom: 8vw;
}

.second img {
    width: 100px;
    height: 500px;
    object-fit: cover;
}

.visually-hidden {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 1vw;
}

.carousel-item {
    transition: transform 1s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 0.5s;
}

.column {
    float: left;
    width: 30%;
    margin-left: 2vw;
    margin-bottom: 5vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column img {
    height: 280px;
}

.btn-dark {
    background-color: black;
    white-space: normal !important;
    word-wrap: break-word;
}

.card {
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.2);
}



.fa:hover {
    opacity: 0.8;

}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook {
    background: #06447e;
    color: white;
}

.fa-instagram {
    background: #55074e;
    color: white;
}

.fa {
    padding: 20px;
    float: right;
    font-size: 30px;
    width: 70px;
    text-decoration: none;
    margin-bottom: 5vw;
    margin-right: 40px;
    margin-top: 1vw;
    text-align: center;
    border-radius: 20%;
    opacity: 1;
}